{% extends 'base.html' %}
{% load static %}

{% block link %}
<link href="{% static 'css/categories.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Header Start -->
<div class="container-fluid bg-primary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
        <h3 class="display-3 font-weight-bold text-white">Наші новини</h3>
        <div class="d-inline-flex text-white">
            <p class="m-0"><a class="text-white" href="{% url 'index' %}">Головна</a></p>
            <p class="m-0 px-2">/</p>
            <p class="m-0">Our Blog</p>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Blog Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5"><span class="px-2">Останні новини</span></p>
            <h1 class="mb-4">Останні новини нашого блогу</h1>
        </div>


        <!--Categories Start-->
        <div class="row">
            <div class="col-12 text-center mb-2">
                <div class="list-inline mb-4" id="portfolio-flters">
                    <a class="btn category_link m-1 category_link_active" href="{% url 'blog' %}">Всі</a>
                    {% for category in categories|dictsort:'name' %}
                    <a class="btn category_link m-1" href="{% url 'blog' %}?cat={{ category.name }}">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--Categories End-->


        {% include  'show_news.html' %}
    </div>
</div>

<!-- Blog End -->
{% endblock %}

{% block script %}
<script>
    let active_category = '{{ active_category }}';
    let children_cat = document.getElementById('portfolio-flters').children;
    for (let i = 1; i < children_cat.length; i++) {
        if (children_cat[i].text == active_category) {
            children_cat[i].classList.toggle('category_link_active');
            children_cat[0].classList.toggle('category_link_active');
            break;
        }
    }
</script>

{% endblock %}
